.custom-navbar {
    background-color: #333333 !important;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000;
    border-radius: 0 !important;
}


.custom-navbar .navbar-brand, 
.custom-navbar .nav-link {
    color: #fff !important; 
}


.custom-navbar .navbar-nav .nav-link:hover {
    color: #cccccc !important;
}

