body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  min-height: 100vh;
  background-image: url('./assets/pattern.jpg');
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  padding-top: 70px;
}


.home-content {
  padding-top: 100px;
}